{
    "experimental": {{ dockerd_experimental }},
    "metrics-addr": "{{ dockerd_metrics_addr }}",
    "log-driver": "{{ dockerd_log_driver }}",
        "log-opts": {
            "max-size": "10m",
            "max-file": "3",
            {% raw %}
            "tag": "{{.Name}}"
            {% endraw %}
        }
}