# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry
*ansible.log
*.log
# End of https://www.toptal.com/developers/gitignore/api/ansible

# vars
vars/hosts
vars/default.yml
vars/settings.yml
.restic_backup.json
vars/database_default.yml
vars/server_deploy_default.yml
vars/

# os
.DS_Store

# ide
workspace.code-workspace
.idea/

# ssh
id_rsa.pem
public_server_key
public_user_key

# stuff to deploy
release.*
*_release.*
public.*
public_*
*_public