fcmKey: {{ server_fcm_key }}
sslSecret: {{ server_ssl_secret }}
emailAddress: {{ server_email_address }}
emailErrorAddress: {{ server_email_error_address }}
emailAddressName: "{{ name }} App"
emailToReportTo: {{ server_email_to_report_to }}
mailjetPrivate: {{ server_mailjet_private }}
mailjetPublic: {{ server_mailjet_public }}
passwordSalt: {{ server_password_salt }}
wordpressUser: {{ server_wordpress_user }}
wordpressToken: {{ server_wordpress_token }}
clientConfigToken: {{ server_client_config_token }}