fcmKey: {{ server_fcm_key }}
sslSecret: {{ server_ssl_secret }}
emailAddress: server_{{ name }}email_address
emailErrorAddress: server_{{ name }}email_error_address
emailAddressName: {{ name }}-App
emailToReportTo: server_{{ name }}email_to_report_to
mailjetPrivate: {{ server_mailjet_private }}
mailjetPublic: {{ server_mailjet_public }}
passwordSalt: server_{{ name }}password_salt
wordpressUser: server_{{ name }}wordpress_user
wordpressToken: server_{{ name }}wordpress_token
clientConfigToken: server_{{ name }}client_config_token