{% set fcm_key = lookup('vars', 'server_' + name + '_fcm_key') -%}
{% set ssl_secret = lookup('vars', 'server_' + name + '_ssl_secret') -%}
{% set email_address = lookup('vars', 'server_' + name + '_email_address') -%}
{% set email_error_address = lookup('vars', 'server_' + name + '_email_error_address') -%}
{% set email_to_report_to = lookup('vars', 'server_' + name + '_email_to_report_to') -%}
{% set password_salt = lookup('vars', 'server_' + name + '_password_salt') -%}
{% set wordpress_user = lookup('vars', 'server_' + name + '_wordpress_user') -%}
{% set wordpress_token = lookup('vars', 'server_' + name + '_wordpress_token') -%}
{% set client_config_token = lookup('vars', 'server_' + name + '_client_config_token') -%}
{% set sentry_dns = lookup('vars', 'server_' + name + '_sentry_dns') -%}
FCMKEY={{ fcm_key }}
SSLSECRET={{ ssl_secret }}
EMAILADDRESS={{ email_address }}
EMAILERRORADDRESS={{ email_error_address }}
EMAILADDRESSNAME={{ name }}-App
EMAILTOREPORTTO={{ email_to_report_to }}
MAILJETPRIVATE={{ server_mailjet_private }}
MAILJETPUBLIC={{ server_mailjet_public }}
PASSWORDSALT={{ password_salt }}
WORDPRESSUSER={{ wordpress_user }}
SENTRYDNS={{ sentry_dns }}
WORDPRESSTOKEN={{ wordpress_token }}
CLIENTCONFIGTOKEN={{ client_config_token }}
TZ={{ time_zone }}