{
    "restic": "{{ restic_client_password }}",
    "resticServerPath": "{{ repo_url }}",
    "postgresDockerContainerName": "{{ postgres_container_name }}-{{ name }}",
    "postgresUser": "{{ postgres_db_user }}",
    "postgresPw": "{{ postgres_db_password }}",
    "postgresDb": "{{ postgres_db_name }}",
    "serverImagePath": "/home/{{ username }}/backend/public",
    "serverContainerName": "{{ server_container_name }}-{{ name }}",
    "healthCarePath": "{{ health_care }}",
    "emailFrom": "{{ email_from }}",
    "emailTo": "{{ email_to }}",
    "logglyPath": "{{ loggly_path }}",
    "mailJetPublic": "{{ mailjet_public }}",
    "mailJetPrivate": "{{ mailjet_private }}"
}