{
    "experimental": {{ dockerd_experimental }},
    "metrics-addr": "{{ dockerd_metrics_addr }}",
    "log-driver": "{{ dockerd_log_driver }}",
        "log-opts": {
            {% if dockerd_log_driver.startswith('loki') -%}
            "loki-url": "{{ dockerd_loki_url }}",
            "loki-batch-size": "400",
            {%- endif %}
            "max-size": "10m",
            "max-file": "3"
        }
}