version: '3.2'

services:
  prometheus:
    image: prom/prometheus-linux-amd64:latest
    container_name: prometheus
    expose:
      - 9090
    network_mode: host
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - prometheusdata:/prometheus
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml:ro
      - ./alert.rules:/etc/prometheus/alert.rules
    restart: unless-stopped

  loki:
    image: grafana/loki:2.3.0
    container_name: loki
    expose:
      - 3100
    network_mode: host
    command:
      - "--config.file=/mnt/config/loki-config.yaml"
    volumes:
      - ./loki-config.yaml:/mnt/config/loki-config.yaml:ro
    depends_on:
      - prometheus

  promtail:
    image: grafana/promtail:2.3.0
    container_name: promtail
    network_mode: host
    command:
      - "--config.file=/mnt/config/promtail-config.yaml"
    volumes:
      - ./promtail-config.yaml:/mnt/config/promtail-config.yaml:ro
      - /var/lib/docker/:/var/lib/docker:ro
    depends_on:
      - prometheus

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafanadata:/var/lib/grafana
      - ./dashboards:/dashboards
      - ./grafana.ini:/etc/grafana/grafana.ini
    expose:
      - 3000
    network_mode: host
    environment:
      GF_USERS_DEFAULT_THEME: dark
      GF_INSTALL_PLUGINS: grafana-clock-panel,grafana-simple-json-datasource
      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_SECURITY_ADMIN_PASSWORD: {{ grafana_password }}
      #GF_SERVER_DOMAIN=myrul.com
      #GF_SMTP_ENABLED=true
      #GF_SMTP_HOST=smtp.gmail.com:587
      #GF_SMTP_USER=myadrress@gmail.com
      #GF_SMTP_PASSWORD=mypassword
      #GF_SMTP_FROM_ADDRESS=myaddress@gmail.com
    depends_on:
      - prometheus
    restart: unless-stopped

  alertmanager:
    image: quay.io/prometheus/alertmanager
    privileged: true
    container_name: alertmanager
    expose:
      - 9093
    network_mode: host
    command:
      - "--cluster.listen-address="
      - "--config.file=/alertmanager.yaml"
    volumes:
      - ./alertmanager.yaml:/alertmanager.yaml
    depends_on:
      - prometheus
    restart: unless-stopped

  blackbox:
    image: prom/blackbox-exporter:latest
    privileged: true
    container_name: blackbox
    expose:
      - {{ blackbox_port }}
    network_mode: host
    command:
      - "--config.file=/config/blackbox.yaml"
    volumes:
      - ./blackbox.yaml:/config/blackbox.yaml
    depends_on:
      - prometheus
    restart: unless-stopped

volumes:
  prometheusdata:
    driver: local
  grafanadata:
    driver: local